#root {
  max-width: auto;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: repeat(4, 1fr); */
  grid-gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(56, 56, 56);
  border-radius: 25px;
  border: 3px solid black;
}

.card-name {
  font-weight: bold;
  list-style: none;
}

.card-image {
  max-width: 100%;
  height: 400px;
}

.card-image:hover {
  transform: scale(1.1);
}

@media (max-width: 860px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 390px) {
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
