#root {
  max-width: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-name {
  font-weight: bold;
}

.card-image {
  max-width: 100%;
  height: auto;
}
