.button_container {
  margin: 18px;
}

.choose-button {
  margin: 3px;
  width: 85px;
  height: 50px;
  border: 2px rgb(75, 75, 75) solid;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  filter: drop-shadow(rgba(0, 0, 0, 0.8) 0px 3px 3px);
}

.choose-button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #008cff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.choose-button:active {
  color: #000;
}

.choose-button:active:after {
  background: transparent;
}

.choose-button:hover:before {
  opacity: 1;
}

.choose-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.dh {
  font-size: 8px;
}

.footer {
  margin-top: 18px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: #008cff;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
